html
{
    height: 3459px;
}
*
{
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width:1200px)
{
  .container,header,.fon
  {
      width: 100%;
  }  
}

@media screen and (max-width:1199px)
{
  .container,header,.fon
  {
      width: 100%;
  }  

}

@media screen and (max-width: 991px)
{
  .container,header,.fon
  {
      width: 100%;
  }  

}

@media screen and (max-width: 767px)
{
    .container,header, .fon
    {
        width: 100%;
    }

}

@media screen and (max-width: 575px)
{
    .container,header,.fon
    {
        width: 100%;

    }
    
    
}
body,header,.fon
{
    margin: 0px;
 }

.rec
{
    height: 100px;
    background-color:brown;
}
.fon
{
    width: 100%;
    z-index: -1;
    position: absolute;
}
header
{
    
    height: 6em;
    width: 53em;
    border-radius: 0px;
    margin: auto;
}
.title_header
{
    margin: 0 auto;
    
}
.titles
{
    font-family: Helvetica;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 0.345em;
    text-align: center;
    padding-right: 3%;
    display: inline-flex;
    
}
.titles1
{
    font-family: Helvetica;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 0.345em;
    text-align: center;
    display: inline-flex;
}
.fonimg
{   
   
    position: relative;
    top: 3.6em;
}
.center
{
    margin: auto;
    margin-top: 9%;
    height: 12.24em;
    width: 53em;
    text-align: center;
}
.crest
{
    margin: auto;
    
}
.welcome
{
    margin-top: 4%;
    font-family: Helvetica;
    font-size: 37px;
    font-weight: 300;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    
}
.Training
{
    margin-top: 6%;
    text-align: center;
    font-family: Helvetica;
    font-size: 25px;
    font-weight: 300;
    
}
.___
{
    margin-top: -0.6%;
}

.container
{
    margin-bottom: 18%;
}
.level2
{
    width: 100%;
    height: 16%;
    background: #000;
}
.level3
{
    width: 100%;
    height: 3%;
    background-color: aqua;
}
